Source: orocos-bfl
Priority: optional
Maintainer: Wim Meeussen <wim.meeussen@mech.kuleuven.be>
Build-Depends: debhelper (>= 5), cmake, liblti-dev
Standards-Version: 3.7.2
Section: libs

Package: orocos-bfl-dev
Section: libdevel
Architecture: any
Depends: liblti-dev, orocos-bfl (= ${Source-Version})
Description: Orocos Bayesian Filtering Library development files
      Orocos (http://www.orocos.org) is the acronym of the
      Open Robot Control Software project. The project's aim is to develop
      a general-purpose, free software, and modular framework
      for robotand machine control.
      The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
      Kinematics and Dynamics Library, the Bayesian Filtering Library and
      the Orocos Component Library.
      .
      This package provides the headers for developing Orocos applications.

Package: orocos-bfl-examples
Section: libs
Architecture: any
Depends: orocos-bfl, ${shlibs:Depends}, ${misc:Depends}
Description: Orocos Bayesian Filtering Library examples
      Orocos (http://www.orocos.org) is the acronym of the
      Open Robot Control Software project. The project's aim is to develop
      a general-purpose, free software, and modular framework
      for robotand machine control.
      The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
      Kinematics and Dynamics Library, the Bayesian Filtering Library and
      the Orocos Component Library.
      .
      This package provides the RTT library.

Package: orocos-bfl
Section: libs
Architecture: any
Depends: liblti, ${shlibs:Depends}, ${misc:Depends}
Description: Orocos Bayesian Filtering Library
      Orocos (http://www.orocos.org) is the acronym of the
      Open Robot Control Software project. The project's aim is to develop
      a general-purpose, free software, and modular framework
      for robotand machine control.
      The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
      Kinematics and Dynamics Library, the Bayesian Filtering Library and
      the Orocos Component Library.
      .
      This package provides the RTT library.
